@charset "utf-8";

html {
    font-size: 20px;
}

body {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    font-family: PingFangSC-Regular, sans-serif;
}

@mixin aBgimg($img:none) {
    @if $img !=none and $img !='./images/' {
        background-image: url($img);
    }

    background-repeat: no-repeat;
    background-size: cover;
}

@mixin aWHU($width, $height) {
    width: $width+px;
    height: $height+px;
}

@mixin aPosition($position: relative, $top:auto, $right:auto, $bottom:auto, $left:auto) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin aFont($size: normal, $color: inherit, $weight: normal, $family: inherit) {
    font-size: $size+px;
    color: $color;
    font-weight: $weight;
    font-family: $family;
}

#A001 {
    position: relative;
    width: 100%;

    * {
        box-sizing: border-box;
    }

    @mixin A001Bg($img) {
        @include aBgimg('./images/'+$img);
    }

    .A001_banner {
        @include aPosition(relative);
        @include aWHU(750,
            300);
        @include A001Bg('');

        .A001_rule {
            position: absolute;
            z-index: 9;
            left: 8px;
            top: 30px;
            @include aWHU(130, 50);
            background: url(./images/css_sprites_2.png) no-repeat;
            background-size: 450px 282px;
            background-position: -319px 0;
        }

        .A001_award {
            @include aWHU(90,
                98);
            @include aPosition(absolute,
                20px,
                20px,
                auto,
                auto);
            @include A001Bg('');
            z-index: 2;

            img {
                width: 100%;
            }
        }
    }

    .A001_main_bg {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0
    }

    .A001_main {
        position: relative;
        z-index: 9;
        @include aWHU(750,
            905);
        @include A001Bg('');

        .A001_jointime {
            @include aWHU(300,
                48);
            @include aFont(24,
                #ffffff);
            border-radius: 38px;
            margin: 0 auto;
            margin-bottom: 5px;
            text-align: center;
            line-height: 48px;
            @include A001Bg('');
        }

        .A001_panel {
            overflow: hidden;
            text-align: center;
            @include aPosition(relative);

            .A001_start {
                @include aWHU(212,
                    282);
                @include aPosition(absolute,
                    50%,
                    auto,
                    auto,
                    50%);
                // @include A001Bg('fcade76a-477b-4479-869a-8f40793517ab.png');
                background: url(./images/css_sprites_2.png) no-repeat;
                background-size: 450px 282px;
                background-position: 0 0;
                margin-left: -106px;
                margin-top: -161px;
                z-index: 2;

                .guide_circle {
                    width: 120px;
                    height: 120px;
                    background-image: url(./images/sp1.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: absolute;
                    top: 104px;
                    right: 0;
                    bottom: auto;
                    left: auto;
                    z-index: 9;
                    -webkit-animation: sp 1s steps(3) infinite;
                    animation: sp 1s steps(3) infinite
                }

                @keyframes sp {
                    0% {
                        background-position: 0 0
                    }

                    to {
                        background-position: 0 100%;
                        opacity: 0
                    }
                }

                .hand {
                    // @include A001Bg('hand.png');
                    background: url(./images/css_sprites_2.png) no-repeat;
                    background-size: 450px 282px;
                    background-position: -212px 0;
                    position: absolute;
                    top: 160px;
                    right: -68px;
                    bottom: auto;
                    left: auto;
                    width: 107px;
                    height: 105px;
                    background-repeat: no-repeat;
                    z-index: 10;
                    -webkit-transform-origin: right bottom;
                    transform-origin: right bottom;
                    -webkit-animation: hand .8s linear infinite;
                    animation: hand .8s linear infinite;

                    @keyframes hand {

                        0%,
                        80%,
                        to {
                            -webkit-transform: rotate(0);
                            transform: rotate(0)
                        }

                        40% {
                            -webkit-transform: rotate(30deg);
                            transform: rotate(30deg)
                        }
                    }
                }

                &.double {
                    @include A001Bg('');
                }
            }

            .A001_wheel {
                @include aPosition(relative);
                @include aWHU(750,
                    750);
                // @include A001Bg('8617f776-dc62-4dfc-9a3f-95b19a93bf0d.png');
                background: url(./images/css_sprites_1.png) no-repeat;
                background-size: 1500px 750px;
                background-position: -750px 0;
                margin: 0 auto;
                overflow: hidden;

                .A001_lump {
                    @include aWHU(750,
                        750);
                    @include aPosition(absolute,
                        0,
                        auto,
                        auto,
                        0);
                    background: url(./images/css_sprites_1.png) no-repeat;
                    background-size: 1500px 750px;
                    background-position: 0 0;
                    animation: blinc .5s linear .5s infinite normal;
                }

                .A001_core {
                    @include aWHU(750,
                        750);
                    @include aPosition(absolute, 0, auto, auto, auto);
                    @include A001Bg('');

                    .core-box {
                        width: 100%;
                        height: 100%;

                        .prize {
                            position: absolute;
                            width: 50%;
                            height: 50%;
                            -webkit-transform-origin: right bottom;
                            transform-origin: right bottom;
                            -moz-transform-origin: right bottom;

                            .prize-dialog {
                                position: absolute;
                                bottom: 1.55*40px;
                                left: 4.55*40px;
                                @include aWHU(168, auto);
                                -webkit-transform: skewY(-30deg) rotate(-30deg);
                                transform: skewY(-30deg) rotate(-30deg);
                                text-align: center;
                                display: flex;
                                align-items: center;
                                flex-direction: column;

                                p {
                                    @include aWHU(188,
                                        auto);
                                    min-height: 40px;
                                    @include aPosition(relative,
                                        7px,
                                        auto,
                                        auto,
                                        auto);
                                    font-size: 28px;
                                    color: #f9301c;
                                    margin-bottom: 10px;
                                    text-align: center;
                                    line-height: 1;
                                }

                                img {
                                    @include aWHU(120,
                                        120);
                                }
                            }
                        }

                        .prize:nth-child(1) {
                            -webkit-transform: rotate(30deg) skewY(30deg);
                            transform: rotate(30deg) skewY(30deg);
                            -moz-transform: rotate(30deg) skewY(30deg);

                            .prize-dialog {
                                position: absolute;
                                bottom: 1.35*40px;
                                left: 4.5*40px;
                            }
                        }

                        .prize:nth-child(2) {
                            -webkit-transform: rotate(90deg) skewY(30deg);
                            transform: rotate(90deg) skewY(30deg);
                            -moz-transform: rotate(90deg) skewY(30deg);

                        }

                        .prize:nth-child(3) {
                            -webkit-transform: rotate(150deg) skewY(30deg);
                            transform: rotate(150deg) skewY(30deg);
                            -moz-transform: rotate(150deg) skewY(30deg);

                            .prize-dialog {
                                position: absolute;
                                bottom: 1.15*40px;
                                left: 4.25*40px;
                            }
                        }

                        .prize:nth-child(4) {
                            -webkit-transform: rotate(210deg) skewY(30deg);
                            transform: rotate(210deg) skewY(30deg);
                            -moz-transform: rotate(210deg) skewY(30deg);

                            .prize-dialog {
                                position: absolute;
                                bottom: 1.15*40px;
                                left: 4.25*40px;
                            }
                        }

                        .prize:nth-child(5) {
                            -webkit-transform: rotate(270deg) skewY(30deg);
                            transform: rotate(270deg) skewY(30deg);
                            -moz-transform: rotate(270deg) skewY(30deg);

                            .prize-dialog {
                                position: absolute;
                                bottom: 1.25*40px;
                                left: 4.45*40px;
                            }
                        }

                        .prize:nth-child(6) {
                            -webkit-transform: rotate(330deg) skewY(30deg);
                            transform: rotate(330deg) skewY(30deg);
                            -moz-transform: rotate(330deg) skewY(30deg);

                            .prize-dialog {
                                position: absolute;
                                bottom: 1.05*40px;
                                left: 4.15*40px;
                            }
                        }
                    }
                }
            }
        }
    }

    .roing {
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
    }

    .roteinit {
        animation: circleMove 20s linear infinite;
        -webkit-animation: circleMove 20s linear infinite;
    }

    @keyframes circleMove {
        0% {
            transform: rotateZ(0);
        }

        100% {
            transform: rotateZ(360deg);
        }
    }

    #coin-contaier {
        position: absolute;
        top: ax(100);
        right: ax(0)
    }
}

@keyframes blinc {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.2;
    }
}

.gray-filter {
    -webkit-filter: grayscale(95%);
    -moz-filter: grayscale(95%);
    -ms-filter: grayscale(95%);
    -o-filter: grayscale(95%);
    filter: grayscale(95%);
    filter: gray;
}