@charset "utf-8";

html {
    font-size: 20px;
}

body {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    font-family: PingFangSC-Regular, sans-serif;
}
#A001{
    padding:20px;
}